{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "importOrder": ["^@", "^[./]"],
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": "*.ts",
      "options": { "parser": "babel-ts" }
    },
    {
      "files": "*.tsx",
      "options": { "parser": "babel-ts" }
    }
  ]
}
